<div class="container-fluid">
    <form class="w-25 mb-3" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
        <div class="form-group mb-3">
            <label class="mb-1" for="usernameInput">Username</label>
            <input [readonly]="isLoading" type="text" class="form-control" id="usernameInput" formControlName="username"
                placeholder="username">
            <div *ngIf="getUsername?.invalid && (getUsername?.dirty || getUsername?.touched)" class="alert alert-danger"
                role="alert">
                <div *ngIf="getUsername?.errors?.['required']">Username is required.</div>
                <div *ngIf="getUsername?.errors?.['minlength']">Username must be at least 4 characters long.</div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="mb-1" for="passwordInput">Password</label>
            <input [readonly]="isLoading" type="password" class="form-control" id="passwordInput"
                [formControlName]="'password'" placeholder="password">
        </div>
        <div *ngIf="getPassword?.invalid && (getPassword?.dirty || getPassword?.touched)" class="alert alert-danger"
            role="alert">
            <div *ngIf="getPassword?.errors?.['required']">Password is required.</div>
        </div>
        <div *ngIf="badCredentials" class="alert alert-danger" role="alert">Invalid user or password</div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || isLoading">Submit</button>
    </form>
    <div *ngIf="captchaRequired">
        <re-captcha siteKey="{{siteKey}}" (resolved)="resolved($event)"></re-captcha>
    </div>
</div>